<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <style>
        li a{ display: none;}
    </style>
</head>
    <body>
    <h1>Bienvenue sur l'application User-Agent</h1>
    <p>Cette application a plusieurs pages qui nécessitent des User-Agents spécifiques pour être accessibles.</p>
    <p>Les User-Agents à utiliser sont :</p>
    <ul>
        <li>Page 1: MySpecialAgent/1.0 <a href="fenelon1">fenelon1</a></li>
        <li>Page 2: AnotherAgent/2.0 <a href="fenelon2">fenelon2</a></li>
        <li>Page 3: FinalAgent/3.0 <a href="fenelon3">fenelon3</a></li>
    </ul>
    <p>Pour en savoir plus sur les User-Agents, <a href="https://fr.wikipedia.org/wiki/User-Agent">cliquez ici</a>.</p>
    </body>
</html>
